* {
    background-color: #5CDB95;
}

h1 {
    font-size: 10em;
    color: #EDF5E1;
}

#rolled-dice{
    color: #05386B;
    font-size: 2em;
}

#rolled-dice > p{
    margin-left: 50px;
}

h2 {
    color: #EDF5E1;
}